.DS_Store
*.swp
*.swo
*~

config/*.db
config/*.db-shm
config/*.db-wal
config/*.log
config/*.log.*
config/secrets.yaml
config/.storage/
config/.cloud/
config/deps/
config/tts/
config/.ios.conf
config/.uuid
config/backups/

config/custom_components/**/__pycache__/
config/custom_components/**/*.pyc
config/custom_components/**/*.pyo

data/
